APP_DEBUG = false
APP_TRACE = false

[APP]
DEFAULT_TIMEZONE = Asia/Shanghai

[DATABASE]
TYPE     = mysql
HOSTNAME = 127.0.0.1
DATABASE = warehouse_5s
USERNAME = root
PASSWORD = root
HOSTPORT = 3306
CHARSET  = utf8mb4
PREFIX   = wa_

[LANG]
default_lang = zh-cn
